@font-face {
	font-family: Beaufort;
	src: url('../fonts/BeaufortforLOLJa-Regular.ttf');
}
body {
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Beaufort, Times, serif;
	
}
.glyphicon {
    font-size: 24px !important;
}

.selection-menu {
	padding-top: 5px;
}

::-webkit-input-placeholder {
	color: red;
   text-align: center;
}

.team-list {
	cursor: pointer;
}

#loadsave {
	overflow: scroll;
	overflow-x: hidden;
	max-height: 400px;
}

:-moz-placeholder { /* Firefox 18- */
	color: red;
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
	color: red;
   text-align: center;  
}

:-ms-input-placeholder { 
	color: red; 
   text-align: center; 
}

.team-name {
	width: 100%; 
	font-size: 24px;
	background-color: transparent;
	color: #CFB53B ;
	border-width: 0 2px 2px 2px;
	border-image: linear-gradient(to right,#CFB53B 0,#c3a568 51%,#836323 100%);
		border-image-slice: 100%;
	border-image-slice: 1;
	border-style: solid;
	border-color: transparent;
}
.btn.save, .btn.save:hover, .btn.save:focus {
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: transparent !important;
	color: #CFB53B;
	border: none;
}

.btn.reset, .btn.reset:hover, .btn.resetf:focus {
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: transparent !important;
	color: #CFB53B;
	border: none;
}

.btn.analyze, .btn.analyze:hover, .btn.analyze:focus {
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: transparent !important;
	color: #CFB53B;
	border: none;
}

.dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:focus {
	padding-right: 100%;
	background-color: transparent !important;
	border: none;
}

.champ {
	
	box-shadow: 0 0 12px rgb(206,20,240);
	background-color: black;
}
.top-row {
	width: 100%; 
	padding-top: 50px;
}

#load-panel {
	border-width: 2px 2px 2px 2px;
	border-image: linear-gradient(to right,#836323 0,#c3a568 51%,#836323 100%);
		border-image-slice: 100%;
	border-image-slice: 1;
	border-style: solid;
	border-color: transparent;
}

.selection-panel {
	/*background-color: #218380; */
	height: auto;
	padding-left: 0px;
	padding-right: 0px;
}

.selection-wrap {
	
	border-top: 8px solid transparent;
	border-image: linear-gradient(to right,#836323 0,#c3a568 51%,#836323 100%);
	border-image-slice: 100%;
	border-image-slice: 1;
}

.champ-select-row {
	/*background-image: url('./images/background.jpg');*/
	height: auto; 
	float: right; 
	background-repeat: no-repeat; 
	background-size: cover; 
	overflow: none;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

#mage-img {
	max-width:100%;
	max-height:100%;
}

.mage-head {
	height: 100%;
	background-image: url('../images/mage.png');
	background-repeat: no-repeat;
	padding-top: .8%;
	display:block;
	overflow:none;
	color: #948f81;
	background-color: transparent !important; 
	border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom,#c3a568 ,transparent) 1 100%;
}
.support-head {
	height: 100%;
	background-image: url('../images/support.png');
	background-repeat: no-repeat;
	padding-top: .8%;
	display:block;
	overflow:none;
	color: #948f81;
	background-color: transparent !important;
	 border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom,#c3a568 ,transparent) 1 100%;
}
.fighter-head {
	height: 100%;
	background-image: url('../images/bruiser.png');
	background-repeat: no-repeat;
	padding-top: .8%;
	display:block;
	overflow:none;
	color: #948f81;
	background-color: transparent !important;
	 border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom,#c3a568 ,transparent) 1 100%;
}
.adc-head {
	height: 100%;
	background-image: url('../images/adc.png');
	background-repeat: no-repeat;
	padding-top: .8%;
	display:block;
	overflow:none;
	color: #948f81;
	background-color: transparent !important;
	 border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom,#c3a568 ,transparent) 1 100%;
}


.tank-head {
	height: 100%;
	background-image: url('../images/tank.png');
	background-repeat: no-repeat;
	padding-top: .8%;
	display:block;
	overflow:none;
	color: #948f81;
	background-color: transparent !important;
	 border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom,#c3a568 ,transparent) 1 100%;
}
.assassin-head {
	height: 100%;
	background-image: url('../images/assassin.png');
	background-repeat: no-repeat;
	padding-top: .8%;
	display:block;
	overflow:none;
	color: #948f81;
	background-color: transparent !important;
	 border-width: 1px;
    border-style: solid;
	z-index: 1000;
    border-image: linear-gradient(to bottom,#c3a568 ,transparent) 1 100%;
}

#analysis {
	
	background-color: transparent;
	text-align: center;
	color: #CFB53B ;
}

.role-name {
	text-align: center;
	font-size: 30px;
	color: black;
}

.mage.active {
	box-shadow: 0 0 12px cyan;
}
.adc.active {
	box-shadow: 0 0 12px rgb(240,113,20);
}
.fighter.active {
	box-shadow: 0 0 12px rgb(237,106,240);
}

.tank.active {
	box-shadow: 0 0 12px #c2d326;
}

.support.active {
	box-shadow: 0 0 12px #91154d;
}

.assassin.active {
	
	box-shadow: 0 0 12px #f23632;
}
.champ {
	height: 150px;
	margin-top: 8px;
	margin-bottom: 8px;
	border-radius: 5px;
}
.active {
	background-color: rgb(180,180,180);
	border-radius: 5px;
}
.type, active {
	cursor: pointer;
	font-size: 26px;
}
.drop-hover img {
	box-shadow: 0 0 12px #FFDF00;
}
.dropdown-sub-menu{
	top:50%;
	left:100%;
	
}